body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  width: 350px;
  margin: 0 auto;
  border: 2px solid red;
}

.heading {
  font-family: inherit;
  font-size: 3em;
  text-align: center;
}

.sub-heading {
  font-family: inherit;
  text-align: center;
}
