* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper-quiz {
  position: absolute;
  top: 0;
  min-width: 375px;
  min-height: inherit;
  background-color: grey;
}

.question-box {
  height: 175px;
  margin: 50px auto;
  padding: 50px 15px;
  background-color: white;
}

.question-box h3 {
  font-size: 2em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  /* padding: 10px 25px; */
}

.answer-box {
  max-width: inherit;
  justify-content: justify;
  align-items: center;
  height: fit-content;
}

.answer-box button {
  width: 300px;
  margin: 20px 40px;
  padding: 15px 50px;
  background-color: aqua;
}

.answer-box button:last-child {
  margin-bottom: 75px;
}
