@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

body {
  font-family: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper-quiz {
  /* position: absolute;
  top: 0; */
  min-width: 375px;
  min-height: 102vh;
  background-color: grey;
}

.question-box {
  min-height: fit-content;
  margin: 0px auto;
  padding: 50px 15px;
  background-color: white;
}

.question-box h3 {
  font-size: 2em;
  font-family: inherit;
  word-spacing: 2px;
  line-height: 1.25em;
  font-weight: 400;
  padding: 10px 25px;
}

.answer-box {
  max-width: inherit;
  justify-content: justify;
  align-items: center;
  margin-top: 50px;
}

.btn-answer {
  font-family: inherit;
  font-size: 1.1em;
  font-weight: 600;
  width: 300px;
  margin: 20px 40px;
  padding: 15px 50px;
  background-color: aqua;
  border: none;
  border-radius: 10px;
  text-align: center;
}

.answer-box button:nth-child(4) {
  margin-bottom: 50px;
}

.btn-next {
  width: 225px;
  margin: 30px 81px;
  padding: 15px 50px;
  background-color: orange;
  border: none;
}
